{% extends "bugtracker/authentication/auth_container.html" %}

{% block auth_content %}

<div class="card p-3" style="width:23%; height:55%%;">
    <div style="padding: 15%">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
        <hr>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="POST" action="password_reset">
            {% csrf_token %}
            <input type="email" class="form-control mb-3" placeholder="name@example.com" name="email">
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
    </div>
</div>
{% endblock %}